@import "./Shared.scss";

.ChatSection {
    float: right;
    width: 750px;
    height: 450px;
    margin-right: 50px;
}

.ProfileInformation {
    float: left;
}

.ChatInput {
    width: 100%;
    margin-top: 5px;
}