$black : #000000;
$gray-header: #F7F7F7;
$gray-light: #f0f0f0;
$gray-darker: #f0f0f0;
$gray-dark: #dddddd;
$gray-verydark: #999999;
$light-blue: #55BFE0;
$brand-blue: #7EA6E0;
$blue: #3D8BCD;
$green: #58B957;
$red: #DB524C;
$white: #ffffff;
$orange: #EFAC43;